<!DOCTYPE html>
<html>
<head>
<title>Nodejs file upload</title>
</head>
<body>

<h1>Upload file</h1>
<!-- <p>This is a paragraph.</p> -->
<input type="file" id="myFile" name="filename">
<input type="submit">

</body>
</html>